@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="banner-item">
        <h2>Get Fit, Stay Healthy</h2>
        <p>Fit life is your ultimate destination for achieving your fitness goals. Join us to embark on a journey towards a healthier and happier you.</p>
    </div>
    <div class="banner-item">
        <h2>Membership Plans</h2>
        <p>Choose from a variety of membership plans that suit your needs.</p>
        <p><a class="btn btn-custom" asp-area="" asp-controller="Plans" asp-action="Nlogin">Discover Plans &raquo;</a></p>
    </div>
    <div class="banner-item">
        <h2>Personalized Workouts</h2>
        <p>Our expert trainers will create a personalized workout plan just for you.</p>
        <p><a class="btn btn-custom" asp-area="" asp-controller="Trainers" asp-action="Nlogin">Discover Trainers &raquo;</a></p>
    </div>
    
</div>