@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron
    <h1>FITNESS STUDIO</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Get Fit, Stay Healthy</h2>
        <p>
            FitLife is your ultimate destination for achieving your fitness goals.
            Join us to embark on a journey towards a healthier and happier you.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Personalized Workouts</h2>
        <p>Our expert trainers will create a personalized workout plan just for you.</p>
        <p><a class="btn btn-default" href="/workouts">Explore Workouts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Membership Plans</h2>
        <p>Choose from a variety of membership plans that suit your needs.</p>
        <p><a class="btn btn-default" href="/membership">Discover Membership Plans &raquo;</a></p>
    </div>
</div>